@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

body #root {
  color: #ced4da;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
