.item {
  width: 400px;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 2px solid #5653f6;
  border-radius: 8px;
}

.btn__wrapper {
  display: flex;
  gap: 7px;
}

.item p {
  color: #e6e7e8;
}

.completed {
  border-color: greenyellow;
}

.todo__icon {
  padding: 8px;
  background-color: #5653f6;
  color: #e6e7e8;
  border-radius: 50%;
  cursor: pointer;
}

.btn--completed {
  background-color: greenyellow;
  color: #5653f6;
}

.todo__icon:hover {
  background-color: #7472dd;
}
