.todo-section {
  background-color: #e1e1fe;
  padding: 9.6rem 0;
}

.todo {
  margin: 0 auto;
  padding: 1.6rem;
  max-width: 62rem;
}
.todo-title {
  font-size: 3.2rem;
  text-align: center;
  color: #151532 !important;
  margin-bottom: 4.8rem;
}

.todo-list {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.no-tasks {
  margin: 3.2rem 0;
  font-size: 2.4rem;
  text-align: center;
  color: #151532;
}

.todo-form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.todo-text {
  min-width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-text:focus {
  outline: none;
  border: 2px solid #151532;
  box-shadow: inset 0 0 10px 151532;
}

.btn-add {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 1rem;
  background: none;
  border: none;
}

.todo-icon {
  display: block;
  margin: auto;
  width: 24px;
  height: 24px;
  stroke: #5653f6;
}

.todo-error {
  margin-top: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ff0033;
  margin-left: 1.6rem;
}

.btn-clear {
  display: block;
  margin: 0 auto;
  margin-top: 4.8rem;
  padding: 1.6rem 2.4rem;
  background-color: #151532;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-clear:hover {
  background-color: #000000;
}
