.todo__section {
  width: 70%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.todo__section h3 {
  margin-top: 4rem;
  text-align: center;
  color: #e6e7e8;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 1px;
}

.form {
  margin-top: 2rem;
  display: flex;
  width: 50%;
}

.form input {
  width: 100%;
  padding: 6px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  font-size: 18px;
  background: transparent;
  border: 2px solid #e6e7e8;
  color: #e6e7e8;
}

.form input:focus {
  border-color: #5653f6;
}

.btn__wrapper {
  display: inline;
}

.clear-btn {
  margin-top: 40px;
  padding: 1rem 2rem;
  color: black;
  font-weight: 600;
  background: transparent;
  border: 2px solid #e6e7e8;
  color: #e6e7e8;
  text-transform: uppercase;
  border-radius: 24px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #e6e7e8;
  color: black;
}

.add-btn {
  padding: 1rem;
  background-color: #e6e7e8;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-transform: uppercase;
  color: #5653f6;
  border: 2px solid #e6e7e8;

  background: transparent;

  color: #e6e7e8;
}

.todos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text--primary {
  color: #e6e7e8;
}

@media screen and (max-width: 800px) {
  .form {
    width: 100%;
  }

  .todo__section h3 {
    font-size: 24px;
  }
}
